In [1]:
import pandas as pd
df = pd.read_csv('/home/anuj/gitwork/733/cmpt733/stock_prediction.csv')

In [2]:
amount = 12000
num_investments = 3
i_percompany = amount/num_investments

In [3]:
df = df[df['Perc_change']> 0]

In [4]:
df_safe = df.sort_values('Perc_change',ascending=False).groupby('Sector').head(1)
df_safe = df_safe.head(num_investments)

In [5]:
df_safe['return'] = (i_percompany * df_safe['Perc_change'])/100
df_safe['final'] = i_percompany + df_safe['return']
df_safe.head()

,Name,Sector,Subsector,Actual,Predicted,Perc_change,return,final
0,A,Industrials,NaN,1000.0,1500.0,50.0,2000.0,6000.0
2,C,Information Technology,NaN,2000.0,2200.0,20.0,800.0,4800.0

In [6]:
df_risky = df.sort_values('Perc_change',ascending=False)
df_risky = df_risky.head(num_investments)
df_risky['return'] = (i_percompany * df_risky['Perc_change'])/100
df_risky['final'] = i_percompany + df_risky['return']
df_risky.head()

,Name,Sector,Subsector,Actual,Predicted,Perc_change,return,final
0,A,Industrials,NaN,1000.0,1500.0,50.0,2000.0,6000.0
2,C,Information Technology,NaN,2000.0,2200.0,20.0,800.0,4800.0
3,D,Information Technology,NaN,3000.0,2700.0,10.0,400.0,4400.0