In [1]:
import pandas as pd
from yahoofinancials import YahooFinancials
from datetime import date

In [2]:
symbols = ['UMPSX','UMPIX','CGMRX','CSRSX','CSRIX','RYCVX','RYLDX','RYCYX','ARYCX','BREFX','FANIX','ORECX',
          'ORENX','FAGNX','PAREX','FRESX','HFCIX','FARCX','FRSSX','HFCSX','FREAX','UBVSX','UBVAX','UBVLX',
           'UBVRX','FSENX','VSTCX','FLCGX','KMDVX','QNTAX']
yahoo_financials_tech = YahooFinancials(symbols)
daily_stocks_prices = yahoo_financials_tech.get_historical_price_data('2015-01-01','2020-01-01', 'daily')

In [3]:
df_final = pd.DataFrame()
for symbol in symbols:
        prices_list = daily_stocks_prices.get(symbol).get("prices")
        df_prices = pd.DataFrame.from_dict(prices_list)
        
        df_prices = df_prices[['high','low','open','close','formatted_date']]
        df_prices['year'] = pd.to_datetime(df_prices['formatted_date']).dt.year
        df_prices['symbol'] = symbol
        df_prices = df_prices[['symbol','high','low','open','close','formatted_date','year']]
        df_final = df_final.append(df_prices,ignore_index=True)

In [4]:
df_final['mean'] = (df_final['high'] + df_final['low'] + df_final['open'] + df_final['close']) / 4
df_final.head()

,symbol,high,low,open,close,formatted_date,year,mean
0,UMPSX,24.879999,24.879999,24.879999,24.879999,2015-01-02,2015,24.879999
1,UMPSX,24.103333,24.103333,24.103333,24.103333,2015-01-05,2015,24.103333
2,UMPSX,23.563334,23.563334,23.563334,23.563334,2015-01-06,2015,23.563334
3,UMPSX,24.170000,24.170000,24.170000,24.170000,2015-01-07,2015,24.170000
4,UMPSX,24.930000,24.930000,24.930000,24.930000,2015-01-08,2015,24.930000

In [5]:
df_final.to_csv('Top30MFdata.csv',index=False)