In [1]:
import pandas as pd
from sqlalchemy import create_engine
from yahoofinancials import YahooFinancials
from datetime import date
engine = create_engine('postgresql://postgres:postgres@localhost:5432/stocks')

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
data_100 = pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')
table = data[0]
table_100 = data_100[2]
sp_list = table[['Symbol','Security','GICS Sector','GICS Sub Industry','Headquarters Location','CIK']]
sp_list = sp_list.rename(columns={'Symbol': 'symbol', 'Security': 'company_name','GICS Sector': 'sector','GICS Sub Industry':'subsector','Headquarters Location':'hq','CIK' : 'cik'})

In [3]:
import json
engine = create_engine('postgresql://postgres:postgres@localhost:5432/stocks')
df = pd.read_sql_query('select symbol,company_name,sector,subsector,hq,cik from "company_info_tree"',con=engine)

df_final = pd.DataFrame()
#symbols = ['BRK.B']
symbols = table_100['Symbol'].tolist()
#symbols = df['symbol'].tolist()

yahoo_financials_tech = YahooFinancials(symbols)

daily_stocks_prices = yahoo_financials_tech.get_historical_price_data('2019-12-31','2020-01-01', 'daily')
for symbol in symbols:
    try:
        prices_list = daily_stocks_prices.get(symbol).get("prices")
        df_prices = pd.DataFrame.from_dict(prices_list)
        df_prices = df_prices[['high','low','open','close','volume','formatted_date']]
        subsetDataFrame = df[df['symbol'] == symbol]
        company_name = subsetDataFrame['company_name']
        df_prices['year'] = pd.to_datetime(df_prices['formatted_date']).dt.year
        df_prices['company_name'] = company_name.values[0]
        df_prices['symbol'] = symbol
        df_final = df_final.append(df_prices,ignore_index=True)
        df_prices.to_sql('stocks_prices', con=engine,if_exists='append',index=False)
    except:
        print(symbol)
        pass

BRK.B

'\ndaily_stocks_prices = yahoo_financials_tech.get_historical_price_data(\'2019-12-31\',\'2020-01-01\', \'daily\')\nfor symbol in symbols:\n    try:\n        prices_list = daily_stocks_prices.get(symbol).get("prices")\n        df_prices = pd.DataFrame.from_dict(prices_list)\n        df_prices = df_prices[[\'high\',\'low\',\'open\',\'close\',\'volume\',\'formatted_date\']]\n        subsetDataFrame = df[df[\'symbol\'] == symbol]\n        company_name = subsetDataFrame[\'company_name\']\n        #sector = subsetDataFrame[\'sector\']\n        df_prices[\'year\'] = pd.to_datetime(df_prices[\'formatted_date\']).dt.year\n        df_prices[\'company_name\'] = company_name.values[0]\n        df_prices[\'symbol\'] = symbol\n        df_final = df_final.append(df_prices,ignore_index=True)\n        #df_prices[\'sector\'] = sector\n        df_prices.to_sql(\'stocks_prices\', con=engine,if_exists=\'append\',index=False)\n    except:\n        print(symbol)\n        pass\n'

In [4]:
result = pd.merge(df_final,df,on='symbol',how='inner')
result = result[['cik','symbol','formatted_date','company_name_x','sector','subsector','high','low','open','close','volume','year']]
result = result.rename(columns={'company_name_x': 'company'})
result.head()

,cik,symbol,formatted_date,company,sector,subsector,high,low,open,close,volume,year
0,320193,AAPL,2019-12-31,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",293.679993,289.519989,289.929993,293.649994,25201400,2019
1,1551152,ABBV,2019-12-31,AbbVie Inc.,Health Care,Pharmaceuticals,88.599998,87.879997,88.209999,88.540001,4702100,2019
2,1800,ABT,2019-12-31,Abbott Laboratories,Health Care,Health Care Equipment,86.989998,86.269997,86.500000,86.860001,3261100,2019
3,1467373,ACN,2019-12-31,Accenture plc,Information Technology,IT Consulting & Other Services,211.059998,209.440002,209.979996,210.570007,1371000,2019
4,796343,ADBE,2019-12-31,Adobe Inc.,Information Technology,Application Software,329.940002,326.250000,326.250000,329.809998,1592300,2019

In [5]:
result['mean'] = (result['high'] + result['low'] + result['open'] + result['close']) / 4
result.head()

,cik,symbol,formatted_date,company,sector,subsector,high,low,open,close,volume,year,mean
0,320193,AAPL,2019-12-31,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",293.679993,289.519989,289.929993,293.649994,25201400,2019,291.694992
1,1551152,ABBV,2019-12-31,AbbVie Inc.,Health Care,Pharmaceuticals,88.599998,87.879997,88.209999,88.540001,4702100,2019,88.307499
2,1800,ABT,2019-12-31,Abbott Laboratories,Health Care,Health Care Equipment,86.989998,86.269997,86.500000,86.860001,3261100,2019,86.654999
3,1467373,ACN,2019-12-31,Accenture plc,Information Technology,IT Consulting & Other Services,211.059998,209.440002,209.979996,210.570007,1371000,2019,210.262501
4,796343,ADBE,2019-12-31,Adobe Inc.,Information Technology,Application Software,329.940002,326.250000,326.250000,329.809998,1592300,2019,328.062500

In [7]:
result.to_csv('treemap_1daymean.csv')